<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiPaws"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.WarningActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Digipaws.TransparentDialog" />
        <activity
            android:name=".ui.activity.SetupAntiUninstallActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UsageMetricsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AddCheatHoursActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ManageKeywordsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SelectAppsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.LauncherActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name=".services.ViewBlockerService"
            android:exported="true"
            android:label="View Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/view_blocker_service_config" />
        </service>
        <service
            android:name=".services.KeywordBlockerService"
            android:exported="true"
            android:label="Keyword Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/keyword_blocker_service_config" />
        </service>
        <service
            android:name=".services.AppBlockerService"
            android:exported="true"
            android:label="App Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/app_blocker_service_config" />
        </service>
        <service
            android:name=".services.UsageTrackingService"
            android:exported="true"
            android:label="Usage Tracker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/usage_tracker_service_config" />
        </service>
        <service
            android:name=".services.DigipawsMainService"
            android:exported="true"
            android:label="General Features"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/keyword_blocker_service_config" />
        </service>

        <receiver
            android:name=".receivers.AdminReceiver"
            android:description="@string/admin_permission_desc"
            android:exported="false"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver_info" />
        </receiver>
    </application>

</manifest>