<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigiPaws"
        tools:targetApi="31">
        <activity
            android:name=".UsageMetricsActivity"
            android:exported="false" />
        <activity
            android:name=".AddCheatHoursActivity"
            android:exported="false" />
        <activity
            android:name=".ManageKeywordsActivity"
            android:exported="false" />
        <activity
            android:name=".SelectAppsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:launchMode="singleTask" />

        <service
            android:name=".services.ViewBlockerService"
            android:exported="true"
            android:label="View Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/view_blocker_service_config" />
        </service>
        <service
            android:name=".services.KeywordBlockerService"
            android:exported="true"
            android:label="Keyword Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/keyword_blocker_service_config" />
        </service>
        <service
            android:name=".services.AppBlockerService"
            android:exported="true"
            android:label="App Blocker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/app_blocker_service_config" />
        </service>
        <service
            android:name=".services.UsageTrackingService"
            android:exported="true"
            android:label="Usage Tracker"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/keyword_blocker_service_config" />
        </service>
    </application>

</manifest>